[submodule "emojilib"]
	path = emojilib
	url = ../../muan/emojilib.git
[submodule "gemoji"]
	path = gemoji
	url = ../../github/gemoji
[submodule "unicode-emoji-json"]
	path = unicode-emoji-json
	url = https://github.com/muan/unicode-emoji-json.git
